html {
  --yellow: #F4DC2C;
  --orange: #ff7142;
  --darkblue: #3248DA;
  --green: #47CC49;
  --lightblue: #00CAF2;
}

.error-message{
  border : 2px solid red;
  border-radius: 10px;
  background-color: pink;
  padding: 10px;
  margin-top: 20px;
}