.choices {
    min-height: 100vh;
    display:flex; align-items:center;
    flex-direction: column;
    font-family: 'Balsamiq Sans', cursive;
    font-family: 'Nunito Sans', sans-serif;
}

.block-title-question {
    position: relative;
    width: 100%;
    min-width: 300px;
    max-width: 700px;
    height: 180px;
    padding: 10px;
    background-color: var(--orange);
    border-bottom-left-radius: 40px; 
    border-bottom-right-radius: 40px;
}

.block-title-question > h1 {
    color: white;
    margin: auto;
    font-weight: bold;
    font-size: 2.5rem;
}

.choices > div {
    display: flex;
}

.icon-category,
.icon-difficulty {
    display: none;

    &:checked {
    background-color: green;
    }
}

.category-box,
.difficulty-box,
.number-box {
    height: 150px;
    margin-top: 2%;
    flex-direction: column;
    flex-wrap: wrap;
    display: flex;
    position: relative;
    margin-bottom: 0;
}

.category-box > h3 {
    margin-top: 5%;
    text-align: center;
}

.number-box > h3 {
    margin-bottom: 5%
}

.input {
    margin-bottom: 5px;
}

.outline-icon {
    width: 8vmin;
    height: 6vmin;
    margin-right: 10px;
    margin-top: 10%;
    color: var(--lightblue);
}