.choices {
    min-height: 100vh;
    display:flex; align-items:center;
    flex-direction: column;
    font-family: 'Balsamiq Sans', cursive;
    font-family: 'Nunito Sans', sans-serif;
    gap: 2rem;
    text-align: center;
}

.block-title-question {
    position: relative;
    width: 100%;
    min-width: 300px;
    max-width: 700px;
    height: 180px;
    padding: 10px;
    background-color: var(--orange);
    border-bottom-left-radius: 40px; 
    border-bottom-right-radius: 40px;
}

.block-title-question > h1 {
    color: white;
    margin: auto;
    font-weight: bold;
    font-size: 2.5rem;
}

.choices > div {
    display: flex;
}

.icon-category,
.icon-difficulty {
    display: none;
}

.container-choices {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 60em;
    gap: 3rem;
}

.category-box,
.difficulty-box,
.number-box,
.button-box {
    flex-direction: column;
    display: flex;
    flex-grow: 1;
}

.category-box > h3 {
    margin-top: 2%;
    text-align: center;
}

.number-box > h3 {
    margin-bottom: 3%
}

.control {
    display: block;
}

.input {
    margin-bottom: 5px;
}

.icon-display {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
}

.outline-icon {
    width: 6vmin;
    height: 5vmin;
    margin-right: 0.3em;
    color: var(--lightblue);
}

.emoji1 {
    width: 6vmin;
    height: 5vmin;
    color: var(--green);
}

.emoji2 {
    width: 6vmin;
    height: 5vmin;
    color: var(--yellow);
}

.emoji3 {
    width: 6vmin;
    height: 5vmin;
    color: var(--orange);
}

.button-box {
    display: block;
    margin-top: auto; margin-bottom: auto;
}

.icon-display > label {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
}

.selected {
    display:inline-block;
    border: 1px solid #52B69A;
    border-radius: 5px;
    padding: 0.8em;
}

@media (max-width: 400px) {
    .container-choices {
        display: flex;
        flex-direction: column;
        height: 26.7em;
    }

    .outline-icon {
        width: 14vmin;
        height: 9vmin;
    }

    .category-box > div,
    .difficulty-box > div {
        margin-top: auto; margin-bottom: auto;
    }

    .choices {
        gap: 0.5rem;
    }
}

@media (min-height: 800px) {
    .container-choices {
        height: 40em;
    }

    .outline-icon {
        width: 12vmin;
        height: 7vmin;
    }

    .category-box > div,
    .difficulty-box > div {
        margin-top: auto; margin-bottom: auto;
    }

    .number-box {
        height: 6em;
    }
}

@media (min-height: 1100px) {
    .container-choices {
        height: 55em;
    }

    .outline-icon {
        width: 11vmin;
        height: 7vmin;
    }
}

@media (min-height: 1300px) {
    .choices {
        gap: 8rem;
    }

    .container-choices {
        height: 65em;
    }

    .outline-icon {
        width: 11vmin;
        height: 7vmin;
    }
}