.edit-profile {
    max-height: 100vh;
    display:flex; 
    align-items:center;
    flex-direction: column;
    font-family: 'Balsamiq Sans', cursive;
    font-family: 'Nunito Sans', sans-serif;
    gap: 6rem;
}

.block-title-profile {
    position: relative;
    width: 100%;
    min-width: 300px;
    max-width: 700px;
    height: 15rem;
    padding: 10px;
    background-color: var(--darkblue);
    border-bottom-left-radius: 40px; 
    border-bottom-right-radius: 40px;
}

.block-title-profile > h1 {
    color: white;
    margin: auto;
    font-weight: bold;
    font-size: 2.5rem;
}

.edit-profile > div {
    display: flex;
}

.profileButtons {
    display: flex;
    flex-direction: column;
}

.littleNext {
    margin-bottom: 50px;
    margin-right: auto;
    margin-left: auto;
    background-color: #3248DA;
    color: white;
    border-radius: 5px;
    font-size: 14px;
    padding: 0.5em 1.4em;
    border-color: #3248DA;
    border-style: none;
}

.out > span {
    margin-top: 20px;
    border: none;
    background: none;
    font-weight:490;
    font-size: 15px;
    color: #485FC7;
    text-decoration: underline;
}

.out > span:hover {
    color: black;
    cursor: pointer;
}