.history {
    max-height: 100vh;
    display:flex; 
    align-items:center;
    flex-direction: column;
    font-family: 'Balsamiq Sans', cursive;
    font-family: 'Nunito Sans', sans-serif;
    /* gap: 0.1rem; */
    font-size: 1rem;
}

{/*#blockTitle .completed {
    height: 7rem;
}*/}

.null {
    display: block;
    position: fixed;
    top: 55%;
}

.null > h2 {
    text-align: center;
    font-weight: bold;
}

.sortAndSearch {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    gap: 1rem;
}

.history select {
    margin-left: 95px;
}

.history  input {
    margin-left: 10px;
}

.history label {
    font-weight: bold;
} 

.table-container {
    display: flex;
    justify-content: center;
}

.table {
    border: 2px solid #3248DA;
    width: 40%;
}

.table > thead > tr {
    text-align: center;
    background-color: #3248DA;
}

.table > thead > tr >th,
.table > tbody > tr > td {
    border: 1px solid lightgray;
    text-align: center;
}

.table > thead > tr > th {
    color: white
}

.table > tbody > tr:nth-child(even) {
    background-color:#fcfbf7;
}

@media (max-width: 550px) {
    .sortAndSearch {
        max-width: 95vw;
        align-items: center;
        text-align: center;
    }

    .history form {
        text-align: center;
    }

    .history select {
        margin-left: 15px;
    }
    
    .history  input {
        margin-left: 0;
    }

    .table-container {
        overflow: scroll;
        max-width: 95vw;
        justify-content: flex-start;
    }

    .table  {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
        font-size: 10px;
    }

    .table > thead> tr> th, 
    .table > tbody> tr> td {
        padding: 10px 5px;
    }

    .block-title > .completed {
        height: 7rem;
    }
}