.homepage {
    max-height: 100vh;
    display:flex; 
    align-items:center;
    flex-direction: column;
    text-align: center;
    font-family: 'Balsamiq Sans', cursive;
    font-family: 'Nunito Sans', sans-serif;
    gap: 4rem;
}

.block-title-homepage {
    position: relative;
    width: 100%;
    min-width: 300px;
    max-width: 700px;
    height: 15rem;
    padding: 10px;
    background-color: #3248DA;
    border-bottom-left-radius: 40px; 
    border-bottom-right-radius: 40px;
}

.block-title-homepage > h1 {
    color: white;
    font-weight: bold;
    font-size: 2.5rem;
    margin: auto;
}

.homepage > div {
    display: flex;
}

.block-homepage {
    margin-top: auto; margin-bottom: auto;
    flex-direction: column;
    align-items: center;
}

.block-homepage > h3 {
    margin-left: auto;
    margin-right: auto;
    font-size: 1.4rem;
    margin-bottom: 1.5rem;
    margin-top: 3rem;
    font-weight: bold;
}

.block-homepage > p {
    margin-left: auto;
    margin-right: auto;
    font-size: 1rem;
    margin-bottom: 1.5rem;
    margin-top: 0.5rem;
}

.btn {
    display:inline-block;
    padding:.6em 4em;
    border: 1px solid #3248DA;
    border-radius:30px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    margin-top: 1.2rem;
    width: 15%;
    max-width:50em;
    min-width: 15em;
    background: white ;
    color: #3248DA;
}

.btn:hover {
    background: #3248DA;
    color: white;
}

.btn:nth-child(5) {
    background-color: #F4DC2C;
    border: 1px solid #F4DC2C;
}

@media (max-height: 750px) {
    .homepage {
        gap: 0;
    }

    .block-title-homepage {
        height: 15rem;
    }
}