.navHolder {
    background: none repeat scroll;
    bottom: 0;
    position: fixed;
    width: 100%;
}

.nav {
    background: repeat scroll;
    background-color: #F4DC2C;
    margin: auto;
    width:100%;
    display: flex;
}

.navLink1 {
    color: #3248DA;
    margin-left: auto;
    padding-right: 3rem;
    height: 2.2em;
    padding-top: 7px;
}

.navLink2 {
    color: #3248DA;
    margin-right: auto;
    padding-left: 3rem;
    height: 2.2em;
    padding-top: 7px;
}