.navHolder {
    background: none repeat scroll;
    bottom: 0;
    position: fixed;
    width: 100%;
}

.navbar {
    background: repeat scroll;
    background-color: #F4DC2C;
    margin: auto;
    width:100%;
    max-width: 700px; 
    min-width: 300px;
}

.navbar-element {
    display: flex;
    padding-top: 20px;
}

.navbar-icons {
    color: #3248DA;
    margin: auto;
}

@media (max-height: 700px) {
    .navbar {
        height: 30px;
    }
}