.profile {
    max-height: 100vh;
    display:flex; 
    align-items:center;
    flex-direction: column;
    font-family: 'Balsamiq Sans', cursive;
    font-family: 'Nunito Sans', sans-serif;
    gap: 7rem;
}

.block-title-profile {
    position: relative;
    width: 100%;
    min-width: 300px;
    max-width: 700px;
    height: 15rem;
    padding: 10px;
    background-color: var(--darkblue);
    border-bottom-left-radius: 40px; 
    border-bottom-right-radius: 40px;
}

.block-title-profile > h1 {
    color: white;
    margin: auto;
    font-weight: bold;
    font-size: 2rem;
}

.profile > div {
    display: flex;
}

.container-profile {
    max-width: 700px;
    display: inline-block;
    flex-direction: column;
    height: 30rem;
    width: 20rem;
    margin-top: auto; 
    margin-bottom: auto
}

.profile-box1 {
    text-align: center;
}

.profile-box2 {
    flex-grow: 1;
    flex-basis: auto;
    flex-direction: column;
    text-align: center;
}

.container-profile-row2 {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-top: 5rem;
    justify-content: center;
}

.outline-icon-profile {
    width: 25vmin;
    height: 18vmin;
    margin-right: auto; 
    margin-left: auto;
    margin-top: 10px;
    text-align: center;
    margin-bottom: 20px;
    display: flex;
}

@media (max-width: 400px) {
    .block-title-profile {
        width: 100vw;
    }

    .block-title-profile > h1 {
        min-width: 330px;
        text-align: center;
        white-space: normal;
    }

    .container-profile {
        min-width: 200px;
        max-width: 350px;
    }

    .outline-icon-profile {
        width: 30vmin;
        height: 18vmin;
    }

    .profile {
        gap: 3rem;
    }
}

@media (min-width:401px) and (max-width: 700px) {
    .profile {
        gap: 5rem;
    }

    .block-title-profile {
        width: 100vw;
    }

    .container-profile {
        min-width: 400px;
        max-width: 600px;
    }

    .outline-icon-profile {
        width: 30vmin;
        height: 18vmin;
    }
}

@media (min-width: 701px) {
    .profile {
        gap: 3rem;
    }
    
    .outline-icon-profile {
        width: 24vmin;
        height: 14vmin;
    }
}