.signup {
    min-height: 100vh;
    display:flex; align-items:center;
    flex-direction: column;
    font-family: 'Balsamiq Sans', cursive;
    font-family: 'Nunito Sans', sans-serif;
}

.block-title-auth {
    position: relative;
    width: 100%;
    min-width: 300px;
    max-width: 700px;
    height: 180px;
    padding: 10px;
    background-color: var(--darkblue);
    border-bottom-left-radius: 40px; 
    border-bottom-right-radius: 40px;
}

.block-title-auth > h1 {
    color: white;
    margin: auto;
    font-weight: bold;
    font-size: 2.5rem;
}

.signup > div {
    display: flex;
}

.block-form {
    margin-top: 7%;
    margin-bottom: 7%;
}

.is-grouped {
    margin-left: 2em;
    margin-top: 2em;
}